# Shared email settings
FROM_EMAIL=email@yourdomain.com
TO_EMAIL=contact@yourdomain.com,other@yourdomain.com

# Multi-provider email config
EMAIL_PROVIDER=resend        # resend
RESEND_API_KEY=re_xxxxxxxxxx # Resend API key

# CORS (comma-separated)
ALLOWED_ORIGINS=https://www.yourdomain.com,https://www.otherdomain.com
